
@{
    ViewBag.Title = "Jquery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("p").hide();
            });
            $("#show").click(function(){
                $("p").show();
            });
            //////////////////////////////
            $("#flip1").click(function () {
                $("#panel1").slideToggle();
            });

            $("#animate").click(function () {
                var div = $("#this_animate");
                div.animate({ left: '+=100px' }, "slow");
                div.animate({ fontSize: '3em' }, "slow");
            });

            $("#ajaxtest").click(function () {
                $.ajax({
                    url: "/Jquery/GetData",
                    success: function (result) {
                        $("#ajax").text(result.name);
                    }

                });

            });
        });


    </script>
    <style>
        #panel1, #flip1 {
            padding: 5px;
            text-align: center;
            background-color: #e5eecc;
            border: solid 1px #c3c3c3;
        }

        #panel1 {
            padding: 50px;
            display: none;
        }
    </style>
</head>
<body>
    <br /><br />
    <p>If you click on the "Hide" button, I will disappear.</p>

    <button id="hide">Hide</button>
    <button id="show">Show</button>

    <br /><br />

    <div id="flip1">Click to slide the panel down or up</div>
    <div id="panel1">Hello world!</div>

    <br /><br />
    <button id="animate">animate</button>

    <div id="this_animate" style="background:#98bf21;height:100px;width:200px;position:absolute;">HELLO</div>

    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <div id="ajax"><h2>Let jQuery AJAX Change This Text</h2></div>
    <button id="ajaxtest">ajax</button>
    <br /><br />
    <br /><br />
    


</body>
</html>


