
@{
    ViewBag.Title = "Sample Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" name="Login" action="~/Login/Create" >
        <div>
            <label>ID</label>
            <input name="ID" type="text" />
        </div>
        <div>
            <label>Firstname</label>
            <input name="Firstname" type="text" />
        </div>
        <div>
            <label>Lastname</label>
            <input name="Lastname" type="text" />
        </div>
        <div>
            <label>Email</label>
            <input name="Email" type="text" />
        </div>
        <div>
            <input name="Submit1" type="submit" value="submit" />
        </div>
    </form>
</body>
</html>
